body { background: #e572aa; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 13px; display: flex; }
.block-metrics-0 { color: #9d03bf; font-size: 17px; margin-bottom: 5px; }
.block-helper-1 { color: #b38dc2; font-size: 19px; margin-bottom: 5px; }
.block-logger-2 { color: #cb3512; font-size: 18px; margin-bottom: 5px; }
.block-cart-3 { color: #4ebd1b; font-size: 18px; margin-bottom: 5px; }
.block-cart-4 { color: #8842c5; font-size: 20px; margin-bottom: 5px; }